<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Current Height</span>
    <div class="count">{{basicStatistics.currentHeight}}</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Peers connected</span>
    <div class="count">{{basicStatistics.connectedPeers}}</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Tx in MemPool</span>
    <div class="count">{{basicStatistics.memPoolTransactionsCount}}</div>
  </div>
</div>
