<table>
  <tr>
    <th style="width:37%;">
      <p>Chart</p>
    </th>
    <th>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <p class="">Received</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <p class="">Sent</p>
      </div>
    </th>
  </tr>
  <tr>
    <td>
      <!--style="margin: 15px 10px 10px 0"-->
      <canvas baseChart height="140" width="140"
              [data]="chartData"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [chartType]="chartType"></canvas>
    </td>
    <td>
      <table class="tile_info">
        <tr>
          <td><p><i class="fa fa-square blue"></i>Received </p></td>
          <td class="text-nowrap">{{bandUsage.received | bytes}}</td>
        </tr>
        <tr>
          <td><p><i class="fa fa-square green"></i>Sent </p></td>
          <td class="text-nowrap">{{bandUsage.sent | bytes}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
